
# 확장자가 .html인 파일 무시 
*.html

# 윗 라인에서 확장자가 .html인 파일은 무시하게 했지만 lib.html는 무시하지 않음 
!lib.html

# 현재 디렉토리에 있는 TODO파일은 무시하고 subdir/TODO처럼 하위디렉토리에 있는 파일은 무시하지 않음
/TODO

# build/ 디렉토리에 있는 모든 파일은 무시
build/

# doc/notes.txt 파일은 무시하고 doc/server/arch.txt 파일은 무시하지 않음 
doc/*.txt

# doc 디렉토리 아래의 모든 .pdf 파일을 무시 
doc/**/*.pdf



# Server파트원들을 위한 ignore List
node_modules/*
config/*
lgot/*
.history
.node_modules/*
.public/*
config/aws_config.json
config/db_config.json
